<ion-nav>
    <ion-content>
        <h1>home</h1
      <div class="list">

    <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i> My Profile
    </a>

    <a class="item item-icon-left item-icon-right" ui-sref="resturant">
        <i class="icon ion-fork"></i> Resturant
        <i class="icon ion-ios-telephone-outline"></i>
    </a>

    <a class="item item-icon-left" href="#">
        <i class="icon ion-android-open"></i> Order
        <span class="item-note">
      Pending
    </span>
    </a>

    <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i> History
        <span class="badge badge-assertive">0</span>
    </a>

</div>

        </ion-content>
    </ion-nav>